* {margin: 0;
   box-sizing: border-box;
   grid-template-columns: auto;
}

.main-menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.main-menu ul li {
    display: inline;
    
}

.main-menu ul li a {
    color: rgb(255, 255, 255);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    background-color: rgb(2, 2, 2);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin-bottom: 3px;
    text-shadow: 10px;
}

.main-menu nav{
    display: flex;
    justify-content: right;
    padding-top: 10px;
   align-items: center;
}

.intro { 
    margin: 10px;
    text-align: justify;
    padding-top: 50px;
}

.footer {
    position: sticky;
    bottom: 0%;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flexbox;
}

.copyright {

    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-small;
    position: relative;
    justify-content: center;
    padding: 15px;
    background-color: rgb(26, 25, 25);
}

#social-media {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    padding: 15px;

}

#join-us {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
    padding: 15px;
    
}
